# For Vite React projects
[build]
  base = "client"
  publish = "client/dist"         # Vite uses 'dist' not 'build'
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200